
<div>
    <h2><span translate="helloJhipsterApp.bankAccount.detail.title">BankAccount</span> {{bankAccount.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="helloJhipsterApp.bankAccount.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{bankAccount.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="helloJhipsterApp.bankAccount.balance">Balance</span>
                </td>
                <td>
                    <span class="form-control-static">{{bankAccount.balance}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="helloJhipsterApp.bankAccount.user">user</span>
                </td>
                <td>
                    {{bankAccount.user.login}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
