
<div>
    <h2><span translate="helloJhipsterApp.operation.detail.title">Operation</span> {{operation.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="helloJhipsterApp.operation.date">Date</span>
                </td>
                <td>
                    <span class="form-control-static">{{operation.date | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="helloJhipsterApp.operation.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{operation.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="helloJhipsterApp.operation.amount">Amount</span>
                </td>
                <td>
                    <span class="form-control-static">{{operation.amount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="helloJhipsterApp.operation.bankAccount">bankAccount</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="bankAccount.detail({id:operation.bankAccount.id})">{{operation.bankAccount.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="helloJhipsterApp.operation.label">label</span>
                </td>
                <td>
                    <span ng-repeat="label in operation.labels">
                        <a class="form-control-static" ui-sref="label.detail({id: {{label.id}}})">{{label.label}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
